<md-dialog style="width: 600px;">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 style="color:white">Añadir Stock</h2><span flex="flex"></span>
            <md-button ng-click="cancel()" class="md-icon-button" style="width: 100px;">
            <md-icon class="material-icons" style="color:white">Cerrar</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <form name="tiendaForm" ng-submit="$event.preventDefault()" flex="flex" layout-align="center center"
        style="padding-left:20px; padding-right:20px">
            <div layout-gt-xs="row">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Libro*</label>
                    <md-select required ng-model="libroStock">
                        <md-option ng-repeat="libro in libros" value="{{libro.isbn}}">
                            {{libro.isbn + " - " + libro.titulo}}
                        </md-option>
                    </md-select>
                    <div ng-messages="tiendaForm.libroStock.$error" ng-if="tiendaForm.libroStock.$dirty && tiendaForm.libroStock.$invalid">
                        <div ng-message="required">Rellena el campo</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Stock*</label>
                    <input required name="stock" ng-model="stock">
                    <div ng-messages="tiendaForm.stock.$error" ng-if="tiendaForm.stock.$dirty && tiendaForm.stock.$invalid">
                        <div ng-message="required">Rellena el campo</div>
                    </div>
                </md-input-container>
            </div>
        </form>
        <div layout="row" layout-align="center center" class="md-actions"><span flex="flex"></span>
            <md-button ng-disabled="tiendaForm.$invalid" ng-click="answer()" class="md-accent">Añadir</md-button>
        </div>
    </md-dialog-content>
</md-dialog>