<div layout="row" flex>
    <div layout="column" layout-align="start center" flex style="width:20%; padding-left:20px; padding-right:20px" layout-fill>
        <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')"
            md-disable-backdrop md-whiteframe="4">
            <md-toolbar class="md-theme-primary">
                <h1 class="md-toolbar-tools">Filtrar</h1>
            </md-toolbar>
            <md-content layout-padding>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>ISBN</label>
                    <input name="isbn" ng-model="isbn">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Título</label>
                    <input name="titulo" ng-model="titulo">
                </md-input-container>
                <div layout="row" flex>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>EUR</label>
                        <input name="minPrecio" ng-model="minPrecio">
                    </md-input-container>
                    a
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>EUR</label>
                        <input name="maxPrecio" ng-model="maxPrecio">
                    </md-input-container>
                </div>
                <div ng-click="filtrarLibros($index)" class="btn btn-danger">Filtrar</div></td>
            </md-content>
        </md-sidenav>
    </div>
        
    <div layout="column" layout-align="start center" flex style="width:60%; padding-left:20px; padding-right:20px" layout-fill>
        <div class="table-responsive" layout-fill>
            <table class="table table-striped">
                <thead>
                    <tr class="text-left">
                        <th>Nº</th>
                        <th>Título</th>
                        <th>ISBN</th>
                        <th>Precio</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="libro in librosFiltrados" class="text-left">
                        <td style="width:10%">{{$index+1}}</td>
                        <td style="width:50%">{{libro.titulo}}</td>
                        <td style="width:20%">{{libro.isbn}}</td>
                        <td style="width:10%">{{libro.precio | currency: '€'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>