<md-content>
    <md-toolbar class="md-medium-tall">
      <div class="md-toolbar-tools" style="margin-top:10px;">
        <img class="png-icon" src="img/icons/love_libraries.png" style="width:115px; margin-top:10px; margin-right:10px;"></img>
        <h1> — {{ pageName() }}</h1>
        <span flex></span>
        <md-button ng-click="logout()" ng-show="showLogout()"><b>Logout<b></md-button>
      </div>
    </md-toolbar>
    
    <md-content flex layout="column" layout-fill>
        <div ui-view=""  style="height:100%" ></div>
    </md-content>
</md-content>